[Unit]
Description=Add Firewall Rules to ip6tables

[Service]
Type=simple
{% if firewall_drop_all_ip6 %}
ExecStart=/etc/iptables/ip6tables_rules_drop_all.sh
{% else %}
ExecStart=/etc/iptables/ip6tables_rules.sh
{% endif %}
Restart=always
RestartSec=3
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
